.dubl{
    background-image: url(https://i.pinimg.com/736x/cc/e4/38/cce43861fda3baeac427790c11ade5ff.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: end center;
}